<div class="sidebar" [class.collapsed]="collapsed">
  <div class="d-flex align-items-center">
    <img src="assets/img/logo.png" alt="Logo" class="logo me-2" />
    @if (!collapsed) {
      <h5 class="mb-0">Consultas DICOM</h5>
    }
  </div>

  <ul class="list-unstyled mt-4">
    @for (item of menuItems; track item.route) {
      <li>
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.route === '/' }"
          class="d-flex align-items-center menu-item"
        >
          <i class="fa-solid {{ item.icon }} me-3" style="width: 20px"></i>
          <span [hidden]="collapsed">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</div>
