.card {
  border: none;
  border-radius: 10px;
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table {
  th {
    font-weight: 600;
    color: #495057;
    border-bottom: 2px solid #dee2e6;
  }

  td {
    vertical-align: middle;
  }
}

:host ::ng-deep {
  .fc {
    .fc-toolbar-title {
      font-size: 16px;
      font-weight: 600;
    }

    .fc-button {
      background-color: #0d6efd;
      border-color: #0d6efd;
      font-size: 12px;
      padding: 0.2rem 0.4rem;

      &:hover {
        background-color: #0b5ed7;
        border-color: #0a58ca;
      }
    }

    .fc-col-header-cell-cushion {
      text-decoration: none !important;
      text-transform: capitalize;
      font-size: 12px;
    }

    .fc-daygrid-day {
      cursor: pointer;
    }

    .fc-daygrid-day-number {
      padding: 3px;
      text-decoration: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin: 1px auto;
      font-size: 12px;
    }

    .fc-daygrid-day-top {
      display: flex;
      justify-content: center;
    }

    .data-selecionada {
      background-color: rgba(13, 110, 253, 0.15) !important;

      .fc-daygrid-day-number {
        background-color: #0d6efd;
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    // @media screen and (max-width: 1199px) {
    //   .fc-toolbar-title {
    //     font-size: 20px;
    //   }

    //   .fc-button {
    //     font-size: 16px;
    //     padding: 0.375rem 0.75rem;
    //   }

    //   .fc-col-header-cell-cushion {
    //     font-size: 16px;
    //   }

    //   .fc-daygrid-day-number {
    //     width: 28px;
    //     height: 28px;
    //     font-size: 16px;
    //   }

    //   .data-selecionada .fc-daygrid-day-number {
    //     width: 28px;
    //     height: 28px;
    //   }
    // }

    @media screen and (max-width: 768px) {
      .fc-hoje-button {
        margin: 6px 16px 6px 6px;
      }

      .fc-header-toolbar {
        margin-bottom: 8px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    full-calendar {
      height: 320px !important;
    }
  }

  @media screen and (max-width: 1199px) {
    full-calendar {
      height: 300px !important;
    }
  }

  @media screen and (max-width: 576px) {
    full-calendar {
      height: 380px !important;
    }
  }
}

.max-w-md-calendar {
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 420px;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
